/* vars */
:root {
  --main-BG: hsl(233, 47%, 7%);
  --card-BG: hsl(244, 38%, 16%);
  --overlay-BG: hsl(277, 64%, 61%);
  --heading-color: hsl(0, 0%, 100%);
  --main-paragrah: hsla(0, 0%, 100%, 0.75);
  --stat-heading: hsla(0, 0%, 100%, 0.6);
  --font-family-1:font-family: "Lexend Deca", sans-serif;
  --font-family-2:font-family: "Inter", sans-serif;
  --main-margin-bottom: 1.5rem;
}
/* *************************** */
/* Global Ruels */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-BG);
}
/* *************************** */
.container {
    max-width: 1020px;
    margin: 2rem 2rem;
    background-color: var(--card-BG);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: .5rem;
    overflow: hidden;
}
.container .left {
    padding: 0 60px;
}
.left .main-title {
    color: var(--heading-color);
    font-family: var(--font-family-2);
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: 2rem;
    margin-top: 60px;
}
.main-title span{
    color: var(--overlay-BG);
}
.left .description {
    color: var(--main-paragrah);
    font-family: var(--font-family-2);
    line-height: 1.8rem;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 3rem;
    
   }
.container .stats {
    display: flex;
    align-items: center;
    column-gap: 60px;
}
.stats .stat-box .num{
color: var(--heading-color);
font-family: var(--font-family-2);
font-size: 1.5rem;
font-weight: 700;
margin-bottom: 5px;
}
.stats .stat-box .p-2{
    color: var(--stat-heading);
    font-family: var(--font-family-1);
    font-weight: 400;
    font-size: .75rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.container .main-img{
    position: relative;
}
.container .main-img img {
    width: 100%;
    height: 100%;
 
}
.container .main-img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(277, 64%, 61%, 0.8);
    top: 0;
    left: 0;
}
/* ************************************************** */
.attribution {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

/* Responsive Design */

@media (max-width: 991px) {
    .container {
        width: 780px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 330px;
        grid-template-columns: 1fr;
    }  
     .container .left {
    padding: 25px 25px 75px 25px;
    text-align: center;
    
    }
    .container .left .main-title {
        margin-bottom: 2rem;
   margin-top: 10px;
    font-size: 30px;
    }
    .left  .description{
    margin-bottom: 3rem;
    font-size: 16px;
    }
    .container .stats{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    }
    .container .main-img {
        order: -1;
    }
}

/* ********************************* */
